.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    /*font: 10px sans-serif;*/
    display: block;
    width: 50px;
}

.node text.root_node {
    font-size: 16px;
    font-weight: bold;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px 15px;
    font: 14px sans-serif;
    background: #a8de9c;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*svg {*/
    /*border: 1px solid #ccc;*/
/*}*/

/*circle.node {*/
    /*fill: lightsteelblue;*/
    /*stroke: #555;*/
    /*stroke-width: 3px;*/
/*}*/
/*circle.leaf {*/
    /*stroke: #fff;*/
    /*stroke-width: 1.5px;*/
/*}*/
/*path.hull {*/
    /*fill: lightsteelblue;*/
    /*fill-opacity: 0.3;*/
/*}*/
/*line.link {*/
    /*stroke: #333;*/
    /*stroke-opacity: 0.5;*/
    /*pointer-events: none;*/
/*}*/